.title {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.container {
  padding: 50px 25px;
}

.dropDownContainer {
  max-width: 400px;
  display: flex;
  align-items: center;
}

.label {
  min-width: 150px;
}

.modalContainer {
  width: 500px;
}

.inputContainerBox {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  gap: 20px;
}
